@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
	--button-color: #6278ff;
	--h1-size: 3rem;
	--h2-size: 2rem;
	--h3-size: 1.5rem;
}

* {
	font-family: "Poppins", sans-serif !important;
	color: #001339;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
	font-weight: 600 !important;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

a {
	text-decoration: none !important;
}

button {
	font-weight: 600;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.sudo-body {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 7%;
	padding-left: 7%;
}

/* navbar */
.navbar-container {
	width: 100%;
	max-width: 1200px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0;
}

.navbar-container img {
	height: auto;
}

nav ul li a.seleccionado {
	color: #455ffd !important;
}

.btn {
	--bs-btn-bg: #e2edffff !important;
	color: #455ffd !important;
}

/* fin navbar */

#home {
	background-color: transparent !important;
}

.outside-btns {
	color: white !important;
	background-color: var(--button-color) !important;
	--bs-btn-box-shadow: 0px 0px 20px #6277ff5a !important;
	--bs-btn-padding-y: 0rem !important;
	--bs-btn-margin-y: 0rem !important;
}

.special-btn {
	background-color: var(--button-color) !important;
	color: white !important;
}

.special-btn img {
	width: 1.5rem;
	height: auto;
}

.image-btn {
	background-color: transparent !important;
	border: none !important;
}

.scroll-container {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	gap: 2%;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scroll-container img {
	flex: 0 0 auto;
	width: 18%;
	height: auto;
	scroll-snap-align: start;
	object-fit: scale-down;
}

.scroll-container::-webkit-scrollbar {
	display: none;
}

.card {
	height: 300px;
	--bs-btn-box-shadow: 0px 3px 3px #46464626 !important;
}

#cardContainer {
	width: 900px;
}

.card-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2%;
}

.container-fluid {
	width: 100%;
	height: fit-content;
}

.card-img-top {
	width: 15%;
	height: 25%;
	margin-right: 0.5rem;
}

.card-title {
	font-size: smaller;
}

.expandable-btn {
	background-color: #d9d9d9;
	border: none;
	display: inline-block;
	transition: width 0.5s, background-color 0.5s;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.expandable-btn.expanded {
	background-color: var(--button-color);
	width: 40px;
	border-radius: 25px;
}

/* Servicios */
.serv-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	padding-bottom: 3rem;

	.serv-title-container {
		width: 100%;
		height: fit-content;
		display: flex;

		.serv-title-btns {
			display: flex;
			align-items: center;
			margin-left: auto;
			justify-content: flex-end;
			padding: 0;

			.next-btn {
				border-radius: 50%;
				background-color: var(--button-color);
				width: 2.5rem;
				height: 2.5rem;
				margin-left: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.back-btn {
				border-radius: 50%;
				background-color: #e6e6e6;
				width: 2.5rem;
				height: 2.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.todo {
	padding-top: 2rem;
	width: 100%;
	height: auto;
}

/* Form */
.container {
	width: 80%;
	background-color: var(--button-color);
	border-radius: 10px;
}

.form-control::placeholder {
	color: white !important;
}

.btn-primary {
	background-color: white !important;
	color: var(--button-color) !important;
	font-weight: 600 !important;
}

.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' class='bi bi-chevron-compact-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M7.646 9.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8 8.293 5.354 6.146a.5.5 0 1 0-.708.708l3 3z'/></svg>") !important;
	background-size: auto 25px !important;
}

/* Fin form */

footer {
	background-color: #001339 !important;
}

footer h3,
footer p,
footer li {
	color: white !important;
}

.footer-container {
	background-color: transparent !important;
}

/* Ajusta el ancho de las tarjetas y el contenedor para vistas más pequeñas */
@media (max-width: 760px) {
	.card {
		width: 300px;
	}

	#cardContainer {
		width: 100%;
	}
}