@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
	--button-color: #6278ff;
	--h1-size: 3rem;
	--h2-size: 2rem;
	--h3-size: 1.5rem;
}

* {
	font-family: "Poppins", sans-serif;
	color: #001339;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	font-weight: 600;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

a {
	text-decoration: none;
}

button {
	font-weight: 600;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

body {
	background-color: white;
}

.sudo-body {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 7%;
	padding-left: 7%;
}

.navbar-container {
	width: 100%;
	max-width: 1200px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0;
}
.navbar-container img {
	height: auto;
}
nav {
	width: 100%;
	height: fit-content;
	padding: 0.7rem 0;
	display: flex;
}
nav ul {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
nav ul li {
	font-weight: 400;
	padding-right: 0.5rem;
	list-style: none;
}
nav ul li.seleccionado a {
	color: #455ffd;
}
nav ul button {
	height: 100%;
	padding: 0.5rem 1.5rem;
	margin-left: 1.5rem;
	background-color: #e2edff;
	color: #455ffd;
	border: none;
	border-radius: 5px;
}
.container-1 {
	display: flex;
	width: 100%;
	height: fit-content;
	align-items: center;
	justify-content: space-between;

}
.container-left {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: fit-content;
}
.container-left h1 {
	font-size: var(--h1-size);
	margin: 0;
}
.upper-desc {
	font-size: 0.7rem;
	font-weight: 600;
}
.lower-desc {
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: gray;
}
.interact {
	display: flex;
	align-items: stretch;
	gap: 2rem;
}
.interact .contact {
	height: auto;
	padding: 0rem 1rem;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: var(--button-color);
	box-shadow: 0px 0px 20px #6277ff5a;
}
.interact img {
	width: 7.5rem;
	height: auto;
}
.container-right {
	display: flex;
	width: fit-content;
	height: fit-content;
	justify-content: flex-end;
}
.container-right img {
	width: 85%;
	max-width: 900px;
	height: auto;
	padding: 0;
	margin: 0;
	align-self: flex-end;
}

.fixed-container {
	display: flex;
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
}
.fixed-container img {
	width: 65%;
	max-width: 1200px;
	height: auto;
	padding: 0;
	margin: 0;
 }

.scroll-container {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	gap: 2%;
	-ms-overflow-style: none; /* compatible IE and Edge */
	scrollbar-width: none; /* compatible Firefox */
}
.scroll-container img {
	flex: 0 0 auto;
	width: 18%;
	height: auto;
	scroll-snap-align: start;
	object-fit: scale-down;
}
.scroll-container::-webkit-scrollbar {
	display: none;
}

.card-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2%;
	/* Nosotros */
	.card {
		width: calc(100% / 3);
		height: 100%;
		border-radius: 10px;
		box-shadow: 0px 3px 3px #46464626;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		.text p {
			font-size: small;
			text-align: justify;
		}
		.btn {
			display: flex;
			width: 100%;
			justify-content: flex-end;
		}
	}
	/* Servicios */
	.serv-card {
		width: calc(100%/3);
		height: 100%;
		border-radius: 10px;
		box-shadow: 0px 3px 3px rgba(98, 98, 98, 0.149);
		padding-left: 1rem;
		padding-right: 1rem;
		.representative-image {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
		.serv-card-details-container {
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
		}
	}
}

.expandable-btn {
	background-color: #d9d9d9;
	border: none;
	display: inline-block;
	transition: width 0.5s, background-color 0.5s;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
.expandable-btn.expanded {
	background-color: var(--button-color);
	width: 40px;
	border-radius: 25px;
}
/* Servicios */
.serv-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	.serv-title-container {
		width: 100%;
		height: fit-content;
		display: flex;
		.serv-title-btns {
			display: flex;
			align-items: center;
			margin-left: auto;
			justify-content: flex-end;
			padding: 0;
			.next-btn {
				border-radius: 50%;
				background-color: var(--button-color);
				width: 2.5rem;
				height: 2.5rem;
				margin-left: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.back-btn {
				border-radius: 50%;
				background-color: #e6e6e6;
				width: 2.5rem;
				height: 2.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

/* Form */
.form-container {
	width: 80%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: var(--button-color);
	border-radius: 10px;
}
.form-container p,
.form-container a {
	color: white;
}

form {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.form-title {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: var(--h2-size);
}
.inputs-container {
	display: flex;
	justify-content: space-between;
}
.input-text {
	position: relative; /* Esto permite posicionar el icono de lugar dentro de .input-text */
}

.input-text input {
	background-color: transparent;
	color: white;
	width: 100%;
	border-radius: 5px;
	border-color: white;
	padding-left: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	align-items: center;
}
.input-text img {
	position: absolute;
	left: 8px; /* Ajusta este valor según el tamaño de tu icono */
	top: 70%;
	transform: translateY(-50%);
}
.input-text input::placeholder {
	color: white;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	/* background-color: #f9f9f9; */
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown button {
	color: white;
	background-color: transparent;
	color: white;
	width: 100%;
	border-radius: 5px;
	border: 1px solid white;
	padding: 1rem;
	padding-right: 8rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	align-items: center;
	font-weight: 400;
}
.dropdown img {
	position: absolute;
	left: 90%;
	top: 50%;
	transform: translateY(-50%);
}
.dropdown-content a {
	display: block;
}
.dropdown:hover .dropdown-content {
	display: block;
}
textarea {
	background-color: transparent;
	color: white;
	width: 100%;
	border-radius: 5px;
	border-color: white;
	padding-top: 0.5rem;
	padding-left: 1rem;
	box-sizing: border-box; /* Añade esta línea */
}
textarea::placeholder {
	color: white;
}
.text-area {
	padding-top: 2.5rem;
	width: 100%;
}
button[type="submit"] {
	width: 40%;
	height: fit-content;
	padding: 0.5rem 0;
	margin-top: 1rem;
	border-radius: 5px;
	border: none;
	background-color: white;
	color: var(--button-color);
	font-weight: 600;
	/* alinear al medio del form */
	margin-left: auto;
	margin-right: auto;
	display: block;
}

footer {
	background-color: #07003b;
	height: 100%;
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 1%;
	padding-right: 7%;
	padding-left: 7%;
	.footer-container {
		display: flex;
		width: 100%;
		height: fit-content;
		justify-content: space-between;
		gap: 10%;
		.footer-sec {
			width: calc(100% / 4);
			height: 100%;
			display: flex;
			flex-direction: column;
			.footer-icons-container {
				display: flex;
				width: 100%;
				height: fit-content;
				justify-content: space-evenly;
				align-items: center;
				gap: 0.5rem;
			}
		}
	}
	.line {
		width: 65%;
		height: 1px;
		background-color: #6278ff;
		margin-top: 3rem;
		margin-bottom: 3rem;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-copyright {
		width: 100%;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer-copyright p {
		font-weight: 400;
		font-size: 0.8rem;
		color: white;
	}
}
.footer-sec h3,
.footer-sec p,
.footer-sec li {
	color: white;
	margin-bottom: 1rem;
}
.footer-sec ul {
	list-style: none;
}
